*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    background-color:#fff;
    color:#707070;
    font-size: 15px;
    font-family: 'Arial', sans-serif;
}
ul li{
    list-style: none;
    text-decoration: none;
    display: inline-block;
}
.usa{
    display: inline-block;
    width: 5%;
}
.drop{
    font-size: 12px;
    border: none;
    background: #000;
    color: #fff;
}
/*header */
header{
    position: absolute;
    width: 100%;
    z-index: 10;
}
.top-header{
    padding:15px 0 0 0;
    background-color: #000;
}
.top-header a{
    color:#fff;
    text-decoration: none;
    /*margin-right: 15px;*/
}
.top-header ul{
    text-align: right;
}
.top-header a:hover{
    color:red;
}
.top-header ul li:after{
    content: ' |'
}
.top-header ul li:last-child:after{
    content: "";
}
.phone{
    margin-top: -25px;
    margin-left: 89px;
    color: #fff;
}

/*mid-header*/
.mid-header .navbar-light .navbar-nav {
    margin:0 auto;
    padding-left: 120px;
}
.mid-header .navbar-light .navbar-nav ul{
    width: 100%;
    background: blue;
}
.mid-header .navbar-light .navbar-nav .nav-link{
    color:#000;
}
.mid-header .navbar-light .navbar-nav .nav-link:hover,
.mid-header ul.header-icon li a:hover{
    color:red;
}
.mid-header ul.header-icons{
    margin-top:15px;
}
.mid-header ul.header-icon li a{
    color:#000;
    font-size: 16px;
}
.navbar{
    background: #fff;
    padding: 1rem 2rem;
    height: 0rem;
    min-height: 12vh;
    align-items: center;
    display: flex;
    justify-content: space-around;
}
.navbar .navbar-brand a{
    padding: 1rem 0;
    display: block;
    text-decoration: none;
}
.logo {
    position: sticky;
    top: 0;
    margin: auto;
    height: 125px;
    padding: 2px 10px;
}
.navbar-toggler{
    position: absolute;
    border: none;
    background: black;
    padding: 7px 3px;
    top: .75rem;
    right: 1rem;
    outline: none;
}
.navbar-toggler span{
    display: block;
    width: 20px;
    height: 1px;
    border: 1px;
    background: #fff;
}
.navbar-toggler span + span{
    margin-top: 4px;
    width: 16px;
    margin-left: 4px;
}
.navbar-toggler span + span +span{
    width: 10px;
    margin-left: 10px;

}
.header-icon{
    /*margin-top: 10px;*/
    /*margin-left: -50px;*/
}
.mid-header input{
    padding: 5px;
    border: 1px solid #e9e5e5;
    border-radius: 40px;
}
/*banner*/
.top{
    padding-top: 35px;
}
.cart{
    height: 30vh;
    min-height: 50px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
.cart h2{
    text-align: center;
    margin-top: 100px;
    color: #000;
    font-weight: 400;
    font-family: "Playfair Display",serif;
}
.hero-cap{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: 500;

}

.hero-cap h2{
    margin-top: 0;
}
/*details*/
.material img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    width: 20%;
}
.material1{
    margin-top: 10px;
    padding: 2%;
    position: relative;
    text-align: center;
}
.slider-nav{
    width: 35%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.small-img-group{
    display: flex;
    justify-content: space-between;
}
.small-img-col{
    flex-basis: 25%;
    cursor: pointer;
}

.sproduct select{
    display: block;
    padding: 5px 10px;
}
.sproduct input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}
.sproduct input: focus{
    outline: none;

}
.buy-btn{
    background-color: #2577fd;
    color: #fff;
    border: none;
    /*border-radius: 40px;*/
    padding: 5px 10px;
    opacity: 1;
    transition: 0.3 all;
}
.para h3{
    color: #000;
    font-weight: bolder;
}
.para h4{
    color: #000;
    font-weight: bolder;
}

/*button*/
.new-product{
    position: absolute;
    top: 0;
    right: 4%;
}

/*<!-- related product */
.relate p{
    color: #000;
    font-size: 16px;
    font-weight: 500;
}
/*footer*/
.set a{
    text-decoration: none;
    font-family: "Poppins",sans-serif;
    font-weight: 300;
    /*color: #000;*/
}
.text-uppercase{
    color: #000;
}
.text-reset{
    color: #000;
}
.list-unstyled a{
    color: #000;
    padding: 5px;

}


